################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NodeJs/csvToJson/bin
/NodeJs/csvToJson/node_modules
/NodeJs/csvToJson/obj
*.user
/.vs
*/node_modules
